*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.logo{
    width: 120px;
    height: auto;
    display: block;
    margin: 20px auto 0 auto;
}

.logo:hover{
  transform: scale(1.2);
  color: rgb(173, 96, 1);
  text-shadow: 0 0 2px rgba(255, 172, 70, 0.678), 0 0 5px rgba(250, 172, 77, 0.897);
  transition: .4s ease-in;
}

nav{
  width: 100%;
  text-align: center;
  margin-top: 0px;  
}

.nav-link li{
    margin: 25px 30px;
    display: inline-block;
    text-align: center;
}

.nav-link li a {
    text-decoration: none;
  display: block;
  color: rgb(223, 154, 71);
  font-size: 25px;
  font-family: cursive;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 50px;
  transition: 0.2s;

}

.nav-link li a:hover{
  background: linear-gradient(to right, black 0%, rgb(173, 96, 1) 100%);
}

.nav-link li a.active{
  background: linear-gradient(to right, black 0%, rgb(173, 96, 1) 100%);
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(aset/kue2.jpg), rgba(0, 0, 0, 0.521);
    background-blend-mode: soft-light;
    background-size: cover; 
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #ffaa48;
    font-family: cursive;
    margin-bottom: 10px;
}

.contact .content p{
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-info .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
}

.icon{
    transition: 1s;
}

.icon:hover{
    background: rgb(204, 200, 200) ;
    transform: rotate(360deg);
    transition: 0.2;
}

.container .contact-info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contact-info .box .text h3{
    font-weight: 500;
    color: #ffaa48;
}

.contact-form{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contact-form h2{
    font-size: 30px;
    color: #333;
    font-weight: 400;
    font-family: cursive;
}

.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input, textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span{
    color: #ffaa48;
    font-size: 12px;
    transform: translateY(-15px);
}

.contact-form .input-box input[type="submit"]{
    width: 100px;
    background: #ffaa48;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

footer{
    position: relative;
    bottom: 0;
    /* top: 100%; */
    overflow: hidden;
    /* left: 0;
    right: 0; */
    background: black;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    /* padding-top: 30px; */
    padding: 30px 0;
    color: #FFF;
  
   }
  
   .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   }
  
   .footer-content h3{
    font-size: 1.8em;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2.1em;
    display: flex;
    position: absolute;
    /* position: relative; */
    top: 0;
    
    
   }
  
   .footer-content p{
    max-width: 500px;
    margin-top: 30px;
    /* margin: 5px auto; */
    /* line-height: 15px; */
    font-size: 14px;
    display: flex;
    /* position: absolute; */
    position: relative;
    /* top: 28%; */
   }
  
   .sosmed{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.15rem 0.3rem 1rem 0.3rem;
    /* position: absolute; */
    position: relative;
    top: 30%;
    
   }
  
   .sosmed li{
    margin: 0 10px ;
   }
  
   .sosmed a{
    text-decoration: none;
    color: #FFF;
   }
  
   .sosmed a i{
    font-size: 1.3em;
    transition: color .4s ease;
   }
   .sosmed a:hover{
    color: rgb(223, 154, 71);
   }
  
   .footer-bottom{
    background-color: black;
    width: 100%;
    text-align: center;
    margin-top: 5px; 
    
   }
  
   .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
   }
  
   .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
   }